.single {
  background-color: #fff;
  border: 2px solid gray;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
}

.buteczek {
  border: none;
  background-color: green;
  margin: 5px;
  display: inline-flex;
  padding: 3px 10px;
  font-size: 16px;
  border-radius: 3px;
}
